<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <style>
        .hidden {
            display: none;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 10 10;
            width: 300px;
        }
        li {
            clear: both;
        }
        li button {
            appearance: none;
            border: none;
            outline: none;
            color: red;
            float: right;
            cursor: pointer;
            font-size: 20px;
        }
        .lists-wrapper, .todos-wrapper {
            display: inline-block;
            vertical-align: top;
            margin-block-start: 1em;
            margin-inline-start: 2em;
        }
    </style>
</head>
<body>
    <div class="lists-wrapper">
        <form id="create-list">
            <input id="name" type="text" name="name">
            <input type="submit" value="Create List">
        </form>
        <ul id="lists">
            {% for list in lists %}
                <li data-id="{{ list.id }}">
                    <input class="list-checkbox" data-id="{{ list.id }}" type="checkbox" {% if list.completed %} checked {% endif %}/>
                    <a href="/lists/{{ list.id }}">
                        {{ list.name }}
                    </a>
                    <button data-id="{{ list.id }}" class="delete-list">&cross;</button>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="todos-wrapper">
        <h3 class="todos-header" data-id="{{ active_list.id }}">{{ active_list.name }}</h3>
        <form id="create-todo">
            <input id="description" type="text" name="description"/>
            <input type="submit" value="Create Todo"/>
        </form>
        <div id="error" class="hidden">Something went wrong.</div>
        <ul id="todos">
            {% if todos %}
                {% for todo in todos %}
                    <li id="todo">
                        <input class="todo-checkbox" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked {% endif %}/>
                        {{ todo.description }}
                        <button class="delete-todo">&cross;</button>
                    </li>
                {% endfor %}
            {% else %}
                <h5>This to-do list is empty. Please select another one.</h5>
            {% endif %}
        </ul>
    </div>
    <script>
        const listCheckboxes = document.querySelectorAll('.list-checkbox')
        for (const listCheckbox of listCheckboxes) {
            listCheckbox.onchange = (e) => {
                console.log('event', e)
                // grab new value for checked
                const isListChecked = e.target.checked
                const list_id = e.target.dataset['id']
                // send new value to backend to update db
                fetch(`/lists/${list_id}/check`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'is_list_checked': isListChecked
                    })
                })
                // refresh frontend
                .then(response => response.json())
                .then(jsonResponse => {
                    const todoCheckboxes = document.querySelectorAll('.todo-checkbox')
                    for (const todoCheckbox of todoCheckboxes) {
                        jsonResponse.forEach(todoId => {
                            if (todoId == todoCheckbox.dataset.id) {
                                todoCheckbox.checked = isListChecked
                            }
                        });
                    }
                })
            }
        }
        document.getElementById('create-list').onsubmit = (e) => {
            e.preventDefault()
            fetch('/lists/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'name': document.getElementById('name').value
                })
            })
            .then(response => response.json())
            .then(jsonResponse => {
                const lists = document.getElementById('lists')
                
                const new_list = document.createElement('LI')
                new_list.dataset.id = jsonResponse.id

                const checkbox = document.createElement('input')
                checkbox.className = 'list-checkbox'
                checkbox.type = 'checkbox'
                checkbox.dataset.id = jsonResponse.id
                new_list.appendChild(checkbox)

                const link = document.createElement('A')
                link.href = `/lists/${jsonResponse.id}`
                link.innerHTML = jsonResponse.name
                new_list.appendChild(link)

                const deleteButton = document.createElement('button')
                deleteButton.innerHTML = '&cross;'
                deleteButton.classList.add('delete-list')
                deleteButton.dataset.id = jsonResponse.id
                new_list.appendChild(deleteButton)

                lists.appendChild(new_list)
            })
        }
        const deleteButtons = document.querySelectorAll('.delete-list')
        for (const deleteButton of deleteButtons) {
            deleteButton.onclick = (e) => {
                const listId = e.target.dataset.id
                fetch(`/lists/${listId}/delete`, {
                    method: 'DELETE'
                })
                .then( () => {
                    const item = e.target.parentElement
                    item.remove()
                })
            }
        }

        const buttons = document.querySelectorAll('.delete-todo')
        for (const button of buttons) {
            button.onclick = (e) => {
                const todoId = e.target.previousElementSibling.dataset.id
                fetch('/todos/' + todoId + '/delete', {
                    method: 'DELETE'
                })
                .then(function () {
                    const item = e.target.parentElement
                    item.remove()
                })
            }
        }
        const checkboxes = document.querySelectorAll('.todo-checkbox') // grab all todos
        for (const checkbox of checkboxes) { // iterate through them, doing the below for each todo
            checkbox.onchange = (e) => { // if checkbox state changes...
                console.log('event', e)
                const isChecked = e.target.checked; // grab the checked property for the todo that changed state, and thus fired the event -- false or true
                const todoId = e.target.dataset['id'] // grab its id
                fetch('/todos/' + todoId + '/check', { // post request sending todo id to server
                    method: 'POST',
                    body: JSON.stringify({
                        'is_checked': isChecked // send true or false regarding the todo state
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then( () => {
                    document.getElementById('error').className = 'hidden'
                })
                .catch( () => {
                    document.getElementById('error').className = '' // show error if any
                })
            }
        }
        document.getElementById('create-todo').onsubmit = (e) => {
            e.preventDefault()
            fetch('/todos/create', {
                method: 'POST',
                body: JSON.stringify({
                    'description': document.getElementById('description').value,
                    'list_id': document.querySelector('.todos-header').dataset.id
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                return response.json()
            })
            .then(jsonResponse => {
                console.log(jsonResponse)
                const li = document.createElement('LI')
                
                const checkbox = document.createElement('input')
                checkbox.className = 'todo-checkbox'
                checkbox.type = 'checkbox'
                checkbox.setAttribute('data-id', jsonResponse.id)
                li.appendChild(checkbox)
                
                const text = document.createTextNode(' ' + jsonResponse.description)
                li.appendChild(text)

                const button = document.createElement('button')
                button.className = 'delete-button'
                button.innerHTML = '&cross;'
                li.appendChild(button)

                document.getElementById('todos').appendChild(li)
                document.getElementById('error').className = 'hidden'
            })
            .catch(() => {
                console.error('Error occurred!')
                document.getElementById('error').className = ''
            })
        }
    </script>
</body>
</html>